@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFEEDA;
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    justify-content: end;
    width: 100%;
    max-height: 5vh;
}

#fig_top {
    width: 1000px;
    height: 250px;
    background: linear-gradient(to right, #c40000, #ff5733);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 60% 40%, 0% 0%);
}
footer{
    display: flex;
    align-items: end;
    justify-content: space-between;
    max-height: 5vh;
}
#fig_bottom {
    width: 800px;
    height: 250px;
    background: linear-gradient(to right, #c40000, #ff5733);
    clip-path: polygon(0% 0%, 40% 70%, 100% 100%, 0% 100%, 0% 100%);
}
#losangos{
    width: 400px;
    position: relative;
    left: 10vw;
    top: 3vh;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
}
#section_form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 45%;
    height: 60%;
    border-radius: 50px;
}
#section_form h1{
    font-size: 40px;
    position: relative;
    bottom: 55px;
    text-transform: uppercase;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    position: relative;
    bottom: 55px;
}
.input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-container i {
    position: absolute;
    left: 10px;
    color: #aaa;
    font-size: 20px;
}

.input-container input {
    width: 30vw;
    height: 3vh;
    padding: 10px 10px 10px 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

form button{
    width: 35%;
    height: 45px;
    background: linear-gradient(to right, #C31818, #F37430);
    color: white;
    border: none;
    font-size: 25px;
    border-radius: 5px;
}

form button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s
}
form a{
    color: red;
    position: relative;
    bottom: 50px;
    right: 50%;
}
#logo_formulario {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    position: relative;
    bottom: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

#logo_formulario img {
    width: 70%;
    height: auto;
    object-fit: contain;
    position: relative;
    border: 1px solid red;
    border-radius: 100%;
    padding: 10px;
} 
#background_calendar{
    background-color: #f1f5f9;
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80%;
}
.calendar-container {
    text-align: center;
    width: 450px;
    margin: 0 auto;
    position: relative;
    height: auto;
}

.calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#month-year {
    margin: 0 15px;
    font-size: 1.8em;
    font-weight: bold;
    color: #DF7200;
}


table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 8px;
    position: relative;
    right: 100px;
}

th {
    background-color: #FF5733;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: white;
}
td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.2em;
    border-radius: 10px;
}

td:hover {
    background-color: #D0E8F2;
}

td.selected {
    background-color:#D71D11;
    color: white;
}

.selected-day {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    text-align: center;
}
#btn_confirmar_dia button{
    width: 15vw;
    height: 5vh;
    background-color: #811a1a;
    color: white;
    font-size: 18px;
    border: none;
}